.vscode
CMakeLists.txt
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
qrc_resources.cpp
resources.qrc.depends
tidal-rpc.app/
tidal-rpc_autogen/
/.vs/
/cmake-build-*/
/tidal-rpc.pro.user
/.idea/
