language: cpp

os:
  - osx
  - windows

compiler:
  - cmake

before_install:
  - |-
    case $TRAVIS_OS_NAME in
      windows)
        [[ ! -f C:/tools/msys64/msys2_shell.cmd ]] && rm -rf C:/tools/msys64
        choco uninstall -y mingw
        choco upgrade --no-progress -y msys2
        export msys2='cmd //C RefreshEnv.cmd '
        export msys2+='& set MSYS=winsymlinks:nativestrict '
        export msys2+='& C:\\tools\\msys64\\msys2_shell.cmd -defterm -no-start'
        export mingw64="$msys2 -mingw64 -full-path -here -c "\"\$@"\" --"
        export msys2+=" -msys2 -c "\"\$@"\" --"
        $msys2 pacman --sync --noconfirm --needed mingw-w64-x86_64-toolchain
        ## Install more MSYS2 packages from https://packages.msys2.org/base here
        $msys2 pacman --noconfirm -S mingw-w64-x86_64-qt5
        $msys2 pacman --noconfirm -S mingw-w64-x86_64-cmake
        export PATH=/C/tools/msys64/mingw64/bin:$PATH
        export MAKE="mingw32-make"  # so that Autotools can find it
        ;;
    esac
before_cache:
  - if [[ $TRAVIS_OS_NAME == "windows" ]]; then
    $msys2 pacman --sync --clean --noconfirm ;
    fi

cache:
  directories:
    - $HOME/AppData/Local/Temp/chocolatey
    - /C/tools/msys64

addons:
  homebrew:
    packages:
      - qt

script:
  - if [[ $TRAVIS_OS_NAME == "windows" ]]; then
    cmake -D CMAKE_C_COMPILER="C:/tools/msys64/mingw64/bin/gcc.exe" -D CMAKE_MAKE_PROGRAM="C:/tools/msys64/mingw64/bin/mingw32-make.exe" -D CMAKE_CXX_COMPILER="C:/tools/msys64/mingw64/bin/g++.exe" -G "Unix Makefiles" . && mingw32-make ;
    fi
  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then
    cmake . && make ;
    fi

after_success:
  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then
    zip -r tidal-rpc-osx.zip . ;
    fi
  - if [[ $TRAVIS_OS_NAME == "windows" ]]; then
  - windeployqt  tidal-rpc.exe
  - powershell -Command "ls ; Get-ChildItem -Path *.exe , *.dll , ../*/imageformats* , ../*/platforms , ../*/styles , ./LICENSE  | Compress-Archive -DestinationPath out.zip -Force"
    fi

deploy:
  provider: releases
  api_key: $GITHUB_OAUTH_TOKEN
  file:
    - "tidal-rpc-osx.zip"
    - "tidal-rpc-win.zip"
  skip_cleanup: true
  draft: true