version: 1.3.0.{build}

branches:
  only:
    - master

environment:
  matrix:
    - job_name: Windows (MSVC)
      ARCH: x64
      COMPILER: VS2019
      QTDIR: C:\Qt\6.2\msvc2019_64
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019

    - job_name: Mac OSX (Clang)
      APPVEYOR_BUILD_WORKER_IMAGE: macOS-BigSur


matrix:
  fast_finish: true

#image:
#  - Visual Studio 2019
#  - macOS-Mojave
platform:
  - x64
configuration:
  - Release


#matrix:
#  exclude:
#    # Exclude invalid options
#    - image: Visual Studio 2019
#      COMPILER: CLang
#
#    - image: macos-mojave
#      COMPILER: VS2019

for:
  - # Windows
    matrix:
      only:
        - job_name: Windows (MSVC)

    before_build:
      - set SOURCEDIR=%cd%
      - call %QTDIR%\bin\qtenv2.bat
      - cd /D %SOURCEDIR%
      - call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"

    build_script:
      - mkdir .\build
      - cd .\build
      - cmake -G"NMake Makefiles" -DCMAKE_BUILD_TYPE=RELEASE -DVERSION=%APPVEYOR_BUILD_VERSION% ../
      - cmake --build .
      - call %QTDIR%\bin\windeployqt --release tidal-rpc.exe

    after_build:
      - xcopy /c "C:\OpenSSL-v111-Win64\bin\*.dll"
      - echo zipping %APPVEYOR_BUILD_VERSION%
      - 7z a tidal-rpc.zip tidal-rpc.exe *.dll ./imageformats/ ./platforms/ ./styles/ ./iconengines ./tls

    artifacts:
      - path: build/tidal-rpc.zip
        name: tidal-rpc.zip
        type: zip

    deploy:
      - provider: GitHub
        release: v.$(APPVEYOR_BUILD_VERSION)
        description: "[![Donate](https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif)](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3XY7W2XHHUZF2&source=url)"
        tag: v.$(APPVEYOR_BUILD_VERSION)
        auth_token:
          secure: NJmli2D4RcorV2PCJA0l7dhI3dbmzio98jPkYU25bBll0nFb1tZolbHtFsfQhpFk           # your encrypted token from GitHub
        artifact: tidal-rpc.zip          # upload all NuGet packages to release assets
        draft: true
        prerelease: false
        on:
          branch: master                 # release from master branch only

  - # Mac
    matrix:
      only:
        - job_name: Mac OSX (Clang)

    #    before_build:
    #      - export PATH=$HOME/Qt/6.2.0/macos/bin/:$PATH

    build_script:
      - mkdir build
      - cd build
      - cmake -G"Unix Makefiles" -DCMAKE_BUILD_TYPE=RELEASE -DVERSION=$APPVEYOR_BUILD_VERSION ../ -DQt6_DIR=$HOME/Qt/6.2.0/macos/lib/cmake/Qt6 -DQt6CoreTools_DIR=$HOME/Qt/6.2.0/macos/lib/cmake/Qt6CoreTools -DQt6GuiTools_DIR=$HOME/Qt/6.2.0/macos/lib/cmake/Qt6GuiTools -DQt6WidgetsTools_DIR=$HOME/Qt/6.2.0/macos/lib/cmake/Qt6WidgetsTools ..
      - cmake --build .
      - $HOME/Qt/6.2.0/macos/bin/macdeployqt tidal-rpc.app -dmg

    after_build:
      - echo $APPVEYOR_BUILD_FOLDER
      - ls
      - pwd

    artifacts:
      - path: build/tidal-rpc.dmg
        name: tidal-rpc.dmg
        type: file

    deploy:
      - provider: GitHub
        release: v.$(APPVEYOR_BUILD_VERSION)
        description: "[![Donate](https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif)](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3XY7W2XHHUZF2&source=url)"
        tag: v.$(APPVEYOR_BUILD_VERSION)
        auth_token:
          secure: NJmli2D4RcorV2PCJA0l7dhI3dbmzio98jPkYU25bBll0nFb1tZolbHtFsfQhpFk              # your encrypted token from GitHub
        artifact: tidal-rpc.dmg          # upload all NuGet packages to release assets
        draft: true
        prerelease: false
        on:
          branch: master                 # release from master branch only
